.view-title-products {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-white {
  border: 0px;
  background-color: #fff;
  margin-left: 1em;
}
.search-img {
  width: 3.2vh;
}

.select-category {
  height: 5vh;
  width: 81%;
  border: 1px solid #1f2674c7;
  background-color: #fff;
  border-radius: 15px;
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
