.prod-container {
  width: 95vw;
  margin: 0 auto;
  margin-bottom: 0.3em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.prod-container_data {
  display: flex;
  flex-direction: row;
}

.prod-container_data-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1em;
}

.prod-container_data-img {
  height: 100px;
  width: 30%;
}

.prod-container_amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prod-container_amount_single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.prod-container_amount_single:first-child {
  margin-right: 0.2em;
  padding-right: 0.2em;
  border-right: 1px solid black;
}
