.view-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.add-button {
  width: 5vh;
  max-width: 100px;
}

.wish-list-container {
  width: 90vw;
  max-width: 600px;
}

.add-button-sm {
}

.empty-btn {
  width: 3vh;
  max-width: 70px;
  border: 0px;
  background-color: #ffffff;
  backround-image: url("/Users/santiagoebalaguer/ironhack/projects/BabyWish/client/public/add-blue.png");
}
