.view-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
}

.add-button {
  width: 5vh;
  max-width: 100px;
}

.wish-list-container {
  width: 90vw;
  max-width: 600px;
}

.add-button-sm {}

.empty-btn {
  width: 3vh;
  max-width: 70px;
  border: 0px;
  background-color: #ffffff;
  /* background-image: url("/Users/santiagoebalaguer/ironhack/projects/BabyWish/client/public/add-blue.png"); */
}

.no-wishlist-div {
  padding-top: 30vh;
  padding-bottom: 30vh;
  text-align: center;
  font-weight: 100;
  color: gray;
  background-image: url('/clouds.png');
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  /* Resize the background image to cover the entire container */
}